# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# iOS
ios/Pods/
ios/.symlinks/
ios/build/
ios/Flutter/
*.pbxuser
*.xcuserstate
*.xcworkspace/xcuserdata
.DS_Store

# Android
android/app/build/
android/.gradle/
android/captures/
android/local.properties
android/**/*.iml
android/**/*.apk
android/**/*.so

# Firebase
google-services.json
GoogleService-Info.plist
firebase_options.dart

# Functions
functions/node_modules/

# IDE
.vscode/
.idea/

*.log
.env
